 GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  text-align: center;
}

/* Header */

header h1 {
  margin-bottom: 2px;
}

.header-date {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0px;
}


/* ABOUT */

#about {
  background-color: #d1edd3;
}

#about p {
  margin-bottom: 0px;
}


/* EVENTS */

#events {
  background-color: #edd3d1;
}

#events h1 {
  margin-top: 0px;
}

#events p {
  margin-bottom: 0px;
}

/* Volunteer */

#volunteer {
  background-color: #d1ebed;
}

/* IMAGE GRID */


/* FOOTER */

footer {
  border-top: 4px solid #DCDCDC;
  padding-top: 20px;
}

.donate-footer { 
  text-align: center;
}

.donate-footer .btn-large {
  background-color: #9999FF;
}




/* MEDIA QUERIES